/* Layout.css */

.layout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #001f3f; Dark Blue */
    background-color: rgba(0, 48, 77, .1); /* Semi-transparent Darker Blue */
    color: #00ff00; /* Neon Green text */
    padding: 20px;
  }
  
  .nav-unlisted {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-link {
    margin: 1rem;
  }
  
  .nav-link a {
    text-decoration: none;
    color: #00ff00; /* Neon Green text */
    transition: color 0.3s ease;
  }
  
  .nav-link a:hover {
    color: #ff00ff; /* Neon Magenta on hover */
  }
  
  .main-content {
    width: 100%;
  }
  