.your-world-container {
  display: grid;
  text-align: center;
  padding: 100px;
}

.your-world-body {
  display: grid;
  padding: 10px;
}

.canvas-container {
  display: flex;
  padding: 50px;
  margin: 0 auto;
  width: 600px;
  height: 600px;
  border: solid 1px black;
  /* background-color: rgb(128, 128, 128); */
  background-color: rgba(255, 255, 255, 0.6);
  /* Semi-transparent Darker Blue */

}

.toggle-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.toggle-label {
  color: #00ff00;
  /* Neon Green text */
  margin: 0 10px;
  cursor: pointer;
}

#toggle {
  display: none;
}

#toggle+.toggle-label {
  position: relative;
  padding-left: 30px;
}

#toggle+.toggle-label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #001f3f;
  /* Dark Blue background */
  border: 2px solid #00ff00;
  /* Neon Green border */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#toggle:checked+.toggle-label:before {
  background-color: #ff00ff;
  /* Neon Magenta background when checked */
  border-color: #ff00ff;
  /* Neon Magenta border when checked */
}

.inner {
  left: 100px !important;
}

.instructions-button {
  width: 100px;
  margin: 0 auto;
}

.world-info {
  width: 100%;
  overflow: auto;
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.fullscreen-button {
  position: absolute;
  /* margin-right: 100px; */
  z-index: 1000;
}

.exit {
  top: 20px;
  right: 200px;
  font-size: 30px;
}