/* App.css */

body {
  font-family: 'Courier New', Courier, monospace;
  background: url('./resources/ok.gif');
  color: #00ff00;
  margin: 0;
  padding: 0;
  background-size: 100vw 120vh;
  font-size: 25px;
  overflow-x: scroll;
  position: absolute;
}

.header {
  background-color: #001f3f; /* Dark Blue */
  color: #00ff00; /* Neon Green text */
  padding: 10px;
  margin: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding: 20px;
  background-color: rgba(0, 39, 77, 0.4); /* Semi-transparent Darker Blue */
  border: 1px solid #00ff00; /* Neon Green border */
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Neon Green glow */
  width: 80vw;
  height: 80vh;
  /* max-height: 90vh; */
  /* width: 50%; */
  /* overflow: none; */
}

.app-container {
  margin: 30px;
  background-color: rgba(68, 39, 71, 0.3); /* Semi-transparent Darker Blue */
}

.wallet-component {
  background-color: #00274d; /* Darker Blue */
  border: 1px solid #00ff00; /* Neon Green border */
  padding: 15px;
  margin-bottom: 20px;
}

.loading-message {
  color: #00ff00; /* Neon Green text */
}

.fixed-textbox {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 39, 77, 0.7); /* Semi-transparent Darker Blue */
  color: #00ff00; /* Neon Green text */
  padding: 15px;
  border: 1px solid #00ff00; /* Neon Green border */
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Neon Green glow */
  max-width: 400px;
  z-index: 1000;
}

.close-button {
  background-color: #00274d; /* Darker Blue for the button */
  color: #00ff00; /* Neon Green text on button */
  border: 1px solid #00ff00; /* Neon Green border for button */
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.close-button:hover {
  background-color: #001f3f; /* Dark Blue on button hover */
}

.open-button {
  background-color: #00274d; /* Darker Blue for the button */
  color: #00ff00; /* Neon Green text on button */
  border: 1px solid #00ff00; /* Neon Green border for button */
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.open-button:hover {
  background-color: #001f3f; /* Dark Blue on button hover */
}

a {
  color: #00ff00; /* Neon Green text */
  text-decoration: none;
  border-bottom: 1px solid #00ff00; /* Neon Green border-bottom */
  transition: color 0.3s ease;
}

a:hover {
  color: #ff00ff; /* Neon Magenta on hover */
  border-bottom-color: #ff00ff; /* Neon Magenta border-bottom on hover */
}

input[type="text"] {
  padding: 10px;
  margin: 5px;
  border: 2px solid #00ff00; /* Neon Green border */
  background-color: rgba(167, 191, 216, 0.4); /* Dark Blue background */
  color: #00ff00; /* Neon Green text */
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #ff00ff; /* Neon Magenta border on focus */
}

.container {
  display: grid;
  text-align: center;
  /* padding: 100px; */
  width: 70vw;
}

.copy:hover {
  cursor: copy;
}